{
    "extends": [
        "airbnb",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error"
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/destructuring-assignment": [
            0,
            "never"
        ],
        "react/prop-types": 0
    },
    
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    }
}